{% extends "head.html" %}
{% block conteudo %}
<div class="row">
        <div class="col text-center">
                <h1>BEM-VINDO AO CONTROLE DE MURAL</h1>
                <p>Escolha o tipo de referência que você deseja analisar.</p>
                <a href="venda">
                        <button type="submit" class="btn btn-primary btn-salvar main-button">VENDA</button>
                </a>
       
                <a href="locacao">
                        <button type="submit" class="btn btn-primary btn-salvar main-button">LOCAÇÃO</button>
                </a>
        </div>
           
</div>
        
        
{% endblock %}