{% extends "head.html" %}
{% block conteudo %}
        
        <form action="/status" method="post">
            <fieldset>
              <div class="row">
                <div class="col d-flex flex-row-reverse">
                    <a href="/">
                      Voltar
                    </a>
                    <a href="listar" style="margin-right:30px;">
                    Listar
                  </a>
                 
                </div>  
              </div>
            <div class="row">
                LOCACÃO
                <div class="col">
                        <form action="/criar">
                            <fieldset>
                              <div class="form-group">
                                <label for="nome">Referência</label>
                                <input type="text" id="ref" name="ref" class="form-control">
                              </div>
                              
                              <button type="submit" class="btn btn-primary btn-salvar">Pesquisar</button>
                              
                            </fieldset>
                          </form>
                </div>
            </div>
            </fieldset>
          </form>
          
        </div>

{% endblock %}