{% extends "head.html" %}
{% block conteudo %}     
<div class="row">
        <div class="col d-flex flex-row-reverse">
            <a href="locacao">
              Voltar
            </a>
         
        </div>  
      </div>
<table class="table table-striped table-bordered text-center">
        <thead class="thead-default">
            <tr>
                <th>REF</th>
                <th>STATUS</th>
                
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{ ref }}</td>
                <td>{{ status }}</td>
               
            </tr>
            

        </tbody>
    </table>
                        
                </div>
            </div>
            </fieldset>
          </form>
        </div>
{% endblock %}